.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 28px 0 20px;
}

.homeHeader {
  padding: 28px 20px 20px;
}

.logoLink {
  text-decoration: none;
  display: inline-block;
  white-space: nowrap;
}

.logoWrap {
  display: flex;
  align-items: center;

  justify-content: flex-start;
  transition: transform 150ms linear;
  white-space: nowrap;
  width: auto;
}

.logoWrap:hover {
  transform: scale(1.1);
}

.logoIcon {
  width: 17px;
  height: 17px;
  flex-shrink: 0;
}

.logoText {
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.8px;
  color: #262626;
  white-space: nowrap;
}

.homeLogoText {
  color: #ffffff;
}

.nav {
  display: none;
}

.navLink {
  display: none;
}

.burgerButton {
  width: 32px;
  height: 32px;
  margin-left: 12px;
  transition: transform 150ms linear;
  background: transparent;
  border: none;
  cursor: pointer;
}

.burgerButton:hover {
  transform: scale(1.1);
}

.burgerButton svg {
  transition: stroke 150ms linear;
}

.homeIcon:hover {
  stroke: #ffffff;
}

.burgerMenu {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  padding: 28px 20px 40px;
  width: 100%;
  max-width: 218px;
  height: 100%;
  background-color: #ffffff;
  overflow: auto;
  z-index: 10;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.burgerMenu {
  background-color: #ffffff;
}

.loginBurgerMenu,
.registerBurgerMenu,
.homeBurgerMenu {
  background-color: #f6b83d;
}

.burgerMenuOpen {
  transform: translateX(0);
}

.closeButton {
  position: absolute;
  width: 32px;
  height: 32px;
  right: 20px;
  top: 28px;
  background: transparent;
  border: none;
  cursor: pointer;
  transition: transform 150ms linear;
}

.closeButton:hover {
  transform: scale(1.1);
}

.closeButton svg {
  transition: stroke 150ms linear;
}

.mobileNav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 150px;
  margin-bottom: auto;
}

.mobileNavLink {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.42px;
  width: 119px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  border: 1px solid rgba(38, 38, 38, 0.15);
  transition: transform 150ms linear, border-color 150ms linear;
  text-decoration: none;
  color: #262626;
}

.mobileNavLink:hover {
  transform: scale(1.1);
  border-color: #ffffff;
}

.logoutButton {
  color: #f6b83d;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.42px;
  text-transform: uppercase;
  width: 178px;
  height: 42px;
  border-radius: 30px;
  background-color: #fff4df;
  transition: transform 150ms linear, background-color 150ms linear;
  border: none;
  cursor: pointer;
}

.logoutButton:hover {
  transform: scale(1.1);
  background-color: #fbe7c1;
}

.mobileAuthNav {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.mobileLoginLink {
  color: #ffffff;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.48px;
  text-transform: uppercase;
  width: 178px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background-color: #f6b83d;
  border: 1px solid transparent;
  transition: transform 150ms linear, background-color 150ms linear;
  text-decoration: none;
}

.mobileLoginLink:hover {
  transform: scale(1.1);
  border-color: #ffffff;
}

.mobileRegisterLink {
  color: #f6b83d;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.48px;
  text-transform: uppercase;
  width: 178px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background-color: #fff4df;
  border: 1px solid transparent;

  transition: transform 150ms linear, background-color 150ms linear;
  text-decoration: none;
}

.mobileRegisterLink:hover {
  transform: scale(1.1);
  border-color: #f6b83d;
}

@media screen and (min-width: 768px) {
  .header {
    padding: 32px 0;
  }

  .homeHeader {
    padding: 32px;
  }

  .logoWrap {
    margin-right: 0;
  }

  .logoIcon {
    width: 23px;
    height: 23px;
  }

  .logoText {
    font-size: 28px;
    line-height: 28px;
    letter-spacing: -1.12px;
  }

  .mobileNavLink {
    color: #262626;
  }

  .navLink {
    display: flex;
    line-height: 20px;
    letter-spacing: -0.48px;
    padding: 15px 20px;
    border-radius: 30px;
    border: 1px solid rgba(38, 38, 38, 0.15);
    transition: transform 150ms linear;
    text-decoration: none;
    color: #262626;
  }

  .navLink:hover {
    transform: scale(1.1);
  }

  .activeNavLink {
    border-color: #f6b83d;
  }

  .homeNavLink {
    border: 1px solid rgba(255, 255, 255, 0.4);
    color: #ffffff;
  }

  .burgerButton {
    margin-left: 16px;
  }

  .burgerMenu {
    max-width: 374px;
    padding: 0 49px 40px;
  }

  .closeButton {
    right: 32px;
    top: 39px;
  }

  .logoutButton {
    margin: 0 auto;
  }

  .mobileAuthNav {
    flex-direction: row;
    width: 640px;
  }

  .mobileLoginLink {
    width: 119px;
    height: 50px;
  }

  .mobileRegisterLink {
    width: 149px;
    height: 50px;
  }
}

@media screen and (min-width: 1280px) {
  .header {
    padding: 32px;
  }

  .homeHeader {
    padding: 32px 64px;
  }

  .logoWrap {
    margin-right: 280px;
  }

  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }

  .burgerButton {
    display: none;
  }
}
